TEST_OUTPUT=C:\PCLP_Easy_Project_Config\python\test\output
MINGW_HOME=C:\MinGW
PCLINT_HOME=C:\PCLint
IMPOSTER_LOG=C:\PCLP_Easy_Project_Config\python\test\input\imposter.commands
JSON_COMPILATION_DATABASE=C:\PCLP_Easy_Project_Config\python\test\input\compile_commands.json
